<!-- HEADER -->
<header>

    <!-- MENU BLOCK -->
    <div class="menu_block">

        <!-- CONTAINER -->
        <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="index.html"><span class="b1">w</span><span class="b2">h</span><span class="b3">i</span><span class="b4">t</span><span class="b5">e</span></a>
            </div>
            <!-- //LOGO -->

            <!-- MENU -->
            <div class="pull-right">
                <nav class="navmenu center">
                    <ul>
                        <li class="first active scroll_btn"><a href="#home">Home</a></li>
                        <li class="scroll_btn"><a href="#about">About Us</a></li>
                        <li class="scroll_btn"><a href="#projects">Projects</a></li>
                        <li class="scroll_btn"><a href="#team">Team</a></li>
                        <li class="scroll_btn"><a href="#news">News</a></li>
                        <li class="scroll_btn last"><a href="#contacts">Contacts</a></li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);">Pages</a>
                            <ul>
                                <li><a routerLinkActive="active" routerLink="blog">Blog</a></li>
                                <li><a routerLinkActive="active" routerLink="blog-post">Blog Post</a></li>
                                <li><a routerLinkActive="active" routerLink="portafolio">Portfolio Single Work</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- //MENU -->
        </div>
        <!-- //MENU BLOCK -->
    </div>
    <!-- //CONTAINER -->
</header>
<!-- //HEADER -->